@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

html.sr .load-hidden {
  visibility: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  min-height: 1500px;
  background: #fff;
}

.offset::before {
  content: "";
  display: block;
  height: 65px;
  margin-top: -65px;
}

p {
  font-size: 1.1rem;
  font-weight: 100;
}

.text-center {
  text-align: center;
}

.container-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.color-1 {
  color: #004242;
}
h3.sec_header.color-2 {
  color: #888;
}

.color-3 {
  background: #507c9f;
}
.color-4 {
  background: #3fa4a4;
}
.color-5 {
  background: #b7fbfb;
}
.color-white {
  color: #fff;
}
.bg-1 {
  background: #004242;
}
.bg-2 {
  background: #0e6868;
}
.bg-blue-grey {
  background: #4a5966;
}
.bg-mid-blue {
  background: #6398b1;
}
s .bg-white {
  background: #fff;
}
.bg-light {
  background: #e5e5e5;
}

/* Header Section */

header.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 7%;
  margin-top: 0;
  overflow: hidden;
  z-index: 12000;
  position: sticky;
  top: 0;
  /* transition: background 0.2s ease; */
  /* filter: hue-rotate(0deg); */
  /* filter: hue-rotate(199deg) grayscale(100%); */
  background: #fff;
  padding: 0 9%;
  font-size: 14px;
}
header a {
  color: #666;
  font-weight: 600;
  text-decoration: none;
}

.logo {
  font-size: 1.25rem;
  background-clip: padding-box;
  background: #ffffff;
  padding: 5px;
}
.logo a {
  color: #666;
  filter: grayscale(100%);
}
.menu-left,
.menu-right {
  display: flex;
  justify-content: space-around;
}
.menu-right a,
.menu-left a {
  border: 1px solid #666;
  padding: 5px 15px;
  margin: 10px;
  display: block;
  /* width: 115px; */
  text-align: center;
}

#sideNav {
  width: 50%;
  min-width: 250px;
  height: 100vh;
  position: fixed;
  right: -50%;
  top: 0;
  /* background: #979797; */
  background: #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  z-index: 11500;
  transition: right 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

#menuBtn {
  width: 40px;
  filter: grayscale(100%);
  cursor: pointer;
  display: none;
  z-index: 14000;
}

/* HERO section */
section {
  overflow: hidden;
}
section.hero {
  position: relative;
  width: 100%;
  /* height: 45vh; */
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e8f5f3;
  background: #f9f9f9;
}
/* Hero Content */
section.hero #left-intro {
  width: 30%;
  font-size: 34px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 19.5px;
  line-height: 55px;
  padding: 20px 30px 20px 0px;
  /* background: #c0043633;
  box-shadow: 0 0 10px #333; */
  position: relative;
  text-align: right;
}

section.hero #left-intro span {
  font-size: 60px;
  letter-spacing: 3px;
  margin-right: 14.5px;
}

section.hero #left-intro span.bottom {
  letter-spacing: 2.2px;
  color: #999;
}

section.hero #right-intro {
  /* width: 600px; */
  width: 50%;
}

section.hero #right-intro img {
  /* max-width: 400px; */
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

h3.sec_header {
  color: #333;
  font-size: 6em;
  line-height: 1.2;
  margin-top: 4rem;
  margin-bottom: 2rem;
  position: relative;
}

.hero img,
.col img {
  filter: grayscale(70%);
}

/* Packages section */
section.packages {
  padding: 0 20px;
  position: relative;
  background: #fff;
  text-align: center;
  padding-bottom: 2rem;
}

section.packages p {
  color: #e5e5e5;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  line-height: 2.5rem;
  padding: 0 30px;
  max-width: 1100px;
  margin: auto;
}

section.packages .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 60vh;
}

section.packages .row > * {
  flex-basis: 28%;
}

.col img {
  width: 50%;
  height: 100px;
}

section.packages .content h4 {
  font-size: 30px;
  color: #2c6089;
  /* color: #666; */
}

section.packages .content p {
  color: #333;
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 20px;
}

/* Packages 2 col Section */
.packages-2-col {
  text-align: center;
}

.packages-2-col h3.sec_header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: #e8f5f3;
  color: #333;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  flex-wrap: wrap;
}

.row > * {
  /* flex-basis: 40%; */
  min-width: 300px;
  padding: 5% 20px;
}

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.col-left img,
.col-right img {
  width: 100%;
  height: auto;
  max-width: 350px;
}

.col-left h3,
.col-right h3 {
  font-size: 30px;
  color: #2c6089;
}

.col-left p,
.col-right p {
  color: #333;
}

.color-3 {
  background: #e8f5f3;
}

.card {
  width: 450px;
}
.card-header {
  background: #e5e5e5;
  padding: 20px 40px;
}
.card-body {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-top: none;
}

.card-body li {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.card-body .price {
  font-size: 40px;
}
.card-body .price sup {
  font-size: 25px;
  top: 4px;
  position: relative;
}
.price .common-btn {
  margin-top: 0;
}

/* Footer Section */
#footer {
  padding: 50px 20px 60px;
  background: #333;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #888;
}

.footer-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}
.footer-right-col {
  flex-basis: 35%;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link-title {
  color: #fff;
  padding-right: 15px;
}

.link-title small {
  font-size: 13px;
  color: #888;
}

.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* text-align: right; */
  color: #777;
}

.footer-logo {
  margin-left: 35px;
}

.footer-logo .logo {
  padding: 9px;
}

.copyright-text {
  flex-basis: 80%;
  text-align: right;
}

/* social-icons */
.social-icons-left {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-20%);
  z-index: 15000;
}
.social-icons-left a {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.social-icons-left img:hover {
  background: #d5d5d5;
}
.social-icons-left img {
  background: #f5f5f5;
  padding: 10px;
  position: relative !important;
  transition: background 0.3s ease;
}

.common-btn {
  background: #5a5b6a;
  padding: 18px;
  margin-top: 35px;
  border: 2px solid #2c6089;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.1s ease;
}

.common-btn:hover {
  /* background: #6398b1; */
  background: #e4e4e6;
  color: #333;
}

/* Scroll to top Button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0px;
  right: 30px;
  z-index: 11000;
  border: none;
  outline: none; /* Remove outline */
  background-color: #555;
  box-shadow: 0 0 1px #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #fff;
  color: #333;
}

.ColorSwitcher {
  z-index: 16000;
  visibility: hidden;
}
.ColorSwitcher__control {
  background: #555;
}
.ColorSwitcher__switch:first-child {
  border: 1px solid #d5d5d5;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1399px) {
  #style-switch {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: initial;
    left: 9%;
    bottom: 22%;
    margin-top: -15vh;
    border: 1px solid #d5d5d5;
  }
}

@media screen and (max-width: 1199px) {
  section.hero #right-intro,
  section.hero #left-intro {
    width: 40%;
  }
  h3.sec_header,
  .recent-work h3.sec_header {
    font-size: 4.5em;
  }
  section.packages .row > * {
    flex-basis: 45%;
  }
  .row {
    padding: 5% 0;
  }
  .container {
    max-width: 95%;
  }
  .order-0 {
    order: 0;
  }
  .order-1 {
    order: 1;
  }

  .padding-left {
    padding-left: 0;
  }
  .padding-right {
    padding-right: 0;
  }
  p {
    font-size: 1rem;
  }
  #demo-flat {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #myBtn {
    right: 10px;
    font-size: 12px;
  }
  #contact h1 {
    padding: 0 3rem;
  }
  #contact form {
    padding: 0 3rem;
  }
  .footer-left-col {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 991px) {
  section.hero #left-intro {
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  section.hero #right-intro {
    display: none;
  }
  header {
    /* display: block; */
    margin-top: initial !important;
    border-bottom: 1px solid #d5d5d5;
  }
  #menuBtn {
    display: block;
  }
  .menu-left,
  .menu-right {
    display: none;
  }
  @media (orientation: landscape) {
    section.hero {
      /* height: 90vh; */
    }
    section.hero #left-intro {
      font-size: 35px;
      line-height: 41px;
      padding: 0px 30px 15px 0px;
    }
    section.hero #left-intro span {
      font-size: 48px;
    }
    section.hero #right-intro {
      line-height: 28px;
      font-size: initial !important;
    }
    section.hero #right-intro p {
      font-size: 1rem;
    }
    section.hero #right-intro span {
      font-size: 1rem;
    }
    #demo-flat .flipster__item__content img {
      width: 358px;
      height: 250px;
    }
  }

  section.packages .row > * {
    flex-basis: 100%;
  }
  h3.sec_header,
  .recent-work h3.sec_header {
    font-size: 4em;
  }
  #demo-flat .flipster__item__content {
    max-width: 90%;
    margin: auto;
  }
  @media (orientation: portrait) {
    #demo-flat .flipster__item__content img {
      width: 502px;
      height: 350px;
    }
  }
}

@media screen and (max-width: 767px) {
  /* @media (orientation: portrait) { */
  .social-icons-left {
    display: none;
  }
  .ColorSwitcher {
    display: none;
  }
  /* } */

  section.services .row > * {
    flex-basis: 90%;
  }
  h3.sec_header,
  .recent-work h3.sec_header {
    font-size: 3em;
  }
  section.intro p {
    padding: 0 20px;
  }
  section.services p {
    padding: 0 10px;
  }
  section.services .row {
    padding-top: 0;
    padding-bottom: 0;
  }
  .row {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .row > * {
    padding: 7% 0;
  }
  .col-left,
  .col-right {
    flex-basis: 90%;
    margin: auto;
  }
  .card {
    width: 100%;
    margin: auto;
  }

  .container {
    max-width: 540px;
  }
  #demo-flat {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  #contact h1 {
    padding: 0;
  }
  #contact form {
    max-width: 100%;
    padding: 0;
    display: block;
  }
  .contact-left-col,
  .contact-right-col {
    flex-basis: 100%;
  }
  .crm-webform-fieldset {
    display: block;
  }
  .contact-right-col img {
    display: none;
  }
  .footer-left-col,
  .footer-right-col {
    flex-basis: 100%;
  }
  .link-title {
    flex-basis: 50%;
    margin-bottom: 30px;
  }
  .footer-logo {
    float: right;
  }
  .copyright-text {
    text-align: left;
  }
  .copyright-text small {
    font-size: 12.5px;
  }
}

@media screen and (max-width: 567px) {
  header {
    border-bottom: 1px solid #d5d5d5;
  }
  section.hero #left-intro {
    font-size: 26px;
    line-height: 35px;
    /* margin-top: -200px; */
  }
  section.hero #left-intro span {
    font-size: 40px;
  }
  section.hero #right-intro {
    width: 80%;
    width: 60%;
    /* text-shadow: 0 0 40px #333; */
  }
  h3.sec_header,
  .recent-work h3.sec_header {
    font-size: 2em;
  }
  .image-group {
    display: block;
  }
  .image-group img {
    padding: 10px;
  }
  
  #demo-flat h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;
  }

  @media (orientation: portrait) {
    #demo-flat .flipster__item__content img {
      width: 358px;
      height: 250px;
    }
  }

  section.services p {
    padding: 0px;
  }
  #contact h1 {
    padding: 20px;
  }
  #contact form {
    padding: 20px;
  }
}
